.navbar1 {
  position: sticky;
  top: 0;
  z-index: 100;
  width: auto;
  height: 100px;
  background-color: rgb(111, 170, 103);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
}
.leftSection .languageDropdown {
  position: relative;
  display: inline-block;
}

.leftSection .dropdownSelection {
  appearance: none;
  background-color: rgb(111, 170, 103);
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.leftSection .searchBar {
  display: flex;
  align-items: center;
}

.leftSection .searchBar input {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.leftSection .searchBar button {
  padding: 5px 10px;
  background-color: rgb(128, 128, 128);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.leftSection .searchBar button:hover {
  background-color: #736b6b;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.leftSection .center {
  flex: 1;
  text-align: center;
}

.leftSection .center h1 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px;
}

.rightSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightSection a:hover {
  color: #736b6b;
}

.rightSection a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-size: 25px;
}

.cartIconContainer {
  position: relative;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(255, 255, 255);
  color: rgb(111, 170, 103);
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .navbar1 {
    justify-content: center;
    padding: 10px 0x;
  }
  .rightSection a {
    margin-left: 0px;
    font-size: 15px;
    margin-left: 5px;
  }
  .leftSection .dropdownButton{
    font-size: 10px;
  }
  .leftSection .center h1{
    font-size: 20px;
    text-shadow: none;
  }
  .leftSection .searchBar input {
    padding: 3px 5px;
    margin-right: 5px;
  }
  .leftSection .searchBar button {
    padding: 3px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar1 {
    justify-content: center;
    padding: 0px 0px;
    height: 60px;
  }
  .leftSection,
  .rightSection {
    font-size: 20px;
  }
  .rightSection a {
    margin-left: 0px;
    font-size: 10px;
    margin-left: 5px;
  }
  .cartCount {
    top: -4px;
    right: -4px;
    padding: 2px 4px;
    font-size: 10px;
  }
  .leftSection .searchBar,
  .leftSection .searchBar input,
  .leftSection .searchBar button {
    display: none;
  }
  .leftSection .dropdownSelection{
    font-size: 10px;
  }
}