.announcement {
    position: sticky;
    top: 0;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 5px;
    position: relative;
    animation: moveLeftToRight 15s linear infinite;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    font-weight: 550; 
  }
  
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(90%);
    }
  }
  