.add {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url('../../assets/add.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    width: 50%;
    height: flex;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .box h1 { 
    font-size: 30px;
    font-weight: 20;
  }
  
  .addForm {
    display: flex;
    flex-direction: column; 
    align-items: flex; 
  }

  .pictureBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .pictureBox h2 {
    font-size: 20px;
    font-weight:500;
    margin: 10px;
  }
  
  .fileUpload {
    display: none; 
  }
  
  .fileButton {
    width: 40%;
    padding: 10px 10px;
    background-color: rgb(111, 170, 103);
    color: white;
    cursor: pointer;
    border: none;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  
  .fileButton:hover {
    background-color: rgb(85, 134, 75);
  }
  
  .fileDisplay {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  .box input, .box select {
    width: 60%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
    
  .box button {
    width: 40%; 
    border: none;
    padding: 15px 20px;
    background-color: rgb(111, 170, 103);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 550;
  }

  @media only screen and (max-width: 1024px) {
    .box {
      width: 70%;
      padding: 10px;
      
    }
  } 
  @media only screen and (max-width: 600px) {
    .pictureBox {
      margin-bottom: 5px;
    }
    
    .pictureBox h2 {
      font-size: 15px;
      font-weight:400;
      margin: 5px;
    }

    .fileButton {
      margin: 5px;
    }
    .box {
      width: 90%;
      padding: 0px;
    }
    .box h1 { 
      font-size: 20px;
      font-weight: normal;
    }
  .box button {
    width: 50%; 
    padding: 6px 10px;
    margin: 10px;
  }
}
  