.forgotPasswordPopup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;    
    height: 100vh;   
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupOverlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
}

.popupContent {
    width: 70%;   
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1001; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popupContent .heading {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  }


.passwordInputContainer {
    width: 80%;
    height: 40px;
    background-color: white;
    display: flex;
    border: 1px solid lightgray;
  }
  
  .passwordInputContainer input {
    border: none;
    flex: 8;
    padding-left: 20px;
  }
  
  .passwordInputContainer button {
    flex: 1;
    border: none;
    background-color:  rgb(111, 170, 103);
    color: white;
  }

  .toastNotification {
    position: fixed;
    bottom: 30%; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    background-color: rgb(111, 170, 103); 
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    transition: opacity 0.5s;
    z-index: 1002; 
  }
  
