.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leftFooter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
  }

  .leftFooter h2 {
    margin-bottom: 0px;
    font-size: 25px;
  }

  .leftFooter p {
    
  }

  .leftFooter .socialContainer {
    display: flex;
  }
  
  .socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .centerFooter {
    flex: 1;
    padding: 30px;
  }

  .footerNavLink {
    color: black;
  }
  
  .centerFooter h2 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .centerFooter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .centerFooter li {
    width: 50%;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .rightFooter {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
  }

  .rightFooter h2 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .rightFooter p1,
  p2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    cursor: pointer;
  }
  
  .rightFooter img {
    margin: auto; 
    max-width: 100%; 
  }

  @media only screen and (max-width: 600px) {
    .leftFooter p {
      margin: 10px 0px;
    }
    .socialIcon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .leftFooter {
      padding: 10px;
      margin-left: 20px;
    }
    .rightFooter {
      padding: 10px;
    }
    
    .rightFooter p1,
    p2 {
      margin-bottom: 5px; 
    }
    .centerFooter{
      display: none;
    }
  }
  

  