.account {
  width: 100vw;
  min-height: 100vh; 
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ), url('../../assets/takingPictureClothes.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.wrapper3 {
  width: 50%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 30px; 
}

.wrapper3 h1 {
    font-size: 30px;
    font-weight: 20;
  }
  
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profilePicture {
    flex: 1;
    text-align: center;
  }
  
  .profileTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
    margin: 15px;
  }
  
  .profileTable td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .wrapper3 button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: rgb(111, 170, 103);
    color: white;
    cursor: pointer;
    margin: 10px;
    opacity: 0.8;
    transition: 0.3s; 
    font-size: 15px;
    font-weight: 550;
}

.wrapper3 button:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 860px) {
  .contentWrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper3 {
    width: 90%;
    padding: 10px;
    margin: 15px; 
    }
  .wrapper3 h1 {
      font-size: 15px;
    }
    .contentWrapper {
      flex-direction: column;
    }
    .wrapper3 button{
      padding: 8px 10px;
      margin: 5px;
  }

}